@{
    ViewBag.Title = "Home Page";
}

<div class="container">
     <div class="row">
           <div class="col-12" style="margin-top:100px;margin-bottom:100px;text-align:center">
               <a class="btn btn-info" href="~/Home/List">Ürünleri Listele</a>
               <a class="btn btn-primary" href="~/Home/Product">Ürün Getir</a>
               <a class="btn btn-success" href="~/Home/Add">Ürün Ekle</a>
               <a class="btn btn-warning" href="~/Home/Edit">Ürün Düzenle</a>
               <a class="btn btn-danger" href="~/Home/Delete">Ürün Sil</a>
           </div>
     </div>
</div>